controller_list:
  - name: fake_UR5_movegroup_controller
    type: $(arg fake_execution_type)
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
  - name: fake_Robotiq_movegroup_controller
    type: $(arg fake_execution_type)
    joints:
      - finger_joint
initial:  # Define initial robot poses per group
  - group: UR5_movegroup
    pose: ur_init
  - group: Robotiq_movegroup
    pose: uropen