<?xml version="1.0" ?> 
<launch> 

    <arg name="tf_prefix" default="mir"/>
    <arg name="prefix" value="mir/"   unless="$(eval tf_prefix != '')" />

    <!-- Load ros_control controller configurations --> 
    <rosparam file="$(find my_mir_control)/config/diffdrive_controller.yaml" command="load" subst_value="true" /> 

    <!-- EKF -->
    <include file="$(find my_mir_control)/launch/ekf.launch.xml"> 
        <arg name="tf_prefix" value="mir" /> 
    </include> 

    <!-- Add passive + mimic joints to joint_states topic -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> 
        <rosparam param="source_list">[mir/joint_states]</rosparam> 
        <param name="rate" value="200.0" /> 
    </node>

    <!-- Load teleop --> 
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering"> 
        <param name="default_topic" value="cmd_vel"/> 
        <param name="default_vx_max" value="1.0" /> 
        <param name="default_vx_min" value="-1.0" /> 
        <param name="default_vw_max" value="1.5" /> 
        <param name="default_vw_min" value="-1.5" /> 
    </node> 

    <!-- create combined scan topic (like on real MiR) --> 
    <node pkg="topic_tools" type="relay" name="b_scan_relay" args="b_scan scan"/> 
    <node pkg="topic_tools" type="relay" name="f_scan_relay" args="f_scan scan"/> 

    <node name="b_rep117_laser_filter" pkg="mir_driver" type="rep117_filter.py" output="screen"> 
        <remap from="scan" to="b_scan" /> 
        <remap from="scan_filtered" to="b_scan_rep117" /> 
    </node> 

    <node name="f_rep117_laser_filter" pkg="mir_driver" type="rep117_filter.py" output="screen"> 
        <remap from="scan" to="f_scan" /> 
        <remap from="scan_filtered" to="f_scan_rep117" /> 
    </node> 
</launch>
