<?xml version="1.0" ?>
<launch>

<!-- BEGIN MiR -->
<include file="$(find my_mir_control)/launch/mir_empty_world.launch">
    <arg name="tf_prefix" value="mir"/>
    <arg name="mir_type" value="mir_250"/>
</include>

<include file="$(find myur_moveit_config)/launch/collaborative_launch/myur_control.launch" />

</launch>
