<?xml version="1.0"?>
<launch>
    <!-- load robot into gazebo -->
    <param name="myur_description" command="$(find xacro)/xacro '$(find myur_description)/urdf/myur5.urdf.xacro'"/>
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param myur_description -model robot -x -0.38478 -y 0.285055 -z -0.2964" respawn="false" output="screen" />
</launch>
