<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">

  </include>
 
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name= "robot_model" default="$(find myur_description)/urdf/myur5.urdf.xacro"/>
    
    <param name="robot_description" command="$(find xacro)/xacro $(arg robot_model)"/>
     
    
    <node name="ur5_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model ur5 -x $(arg x) -y $(arg y) -z $(arg z)" />
          
</launch>
