<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="booksink">
  <link
    name="booksink_link">
    <inertial>
      <origin
        xyz="0.526222946096893 0.678509860201614 0.28457334883271"
        rpy="0 0 0" />
      <mass
        value="41.6884762061747" />
      <inertia
        ixx="2.62451743594391"
        ixy="-0.589704408483634"
        ixz="-0.000559520034314575"
        iyy="3.12172134247769"
        iyz="-2.18230871282791E-06"
        izz="2.98496788067529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://booksink/meshes/booksink_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://booksink/meshes/booksink_link.STL" />
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>119.91</mu>
            <mu2>119.91</mu2>
          </ode>
        </friction>
      </surface>
    </collision>
  </link>
</robot>