<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="booksink">
  <link
    name="booksink_link">
    <inertial>
      <origin
        xyz="0.470055210042453 0.718823787971236 0.684157758208758"
        rpy="0 0 0" />
      <mass
        value="30.4910687672784" />
      <inertia
        ixx="2.11977468017796"
        ixy="-0.586033616122853"
        ixz="-0.000189073098818435"
        iyy="2.19559736530704"
        iyz="-0.00040249730618505"
        izz="2.41750479505537" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://booksink/meshes/booksink_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://booksink/meshes/booksink_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>