<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="myur5">

    <xacro:include filename="$(find booksink)/urdf/booksink.urdf"/>
    
    <link name="mass_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <inertial>
      <mass value="20"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
    </link>
    
    <joint name="mass_joint" type="fixed">
        <origin xyz="0.345 -0.4 0.1" rpy="0.0 0.0 0.0"/>
        <parent link="booksink_link"/>
        <child link="mass_link"/>
    </joint>
    
    <xacro:include filename="$(find ur_description)/urdf/ur5.xacro"/>
    <joint name="sink_ur5_joint" type="fixed">
        <origin xyz="0.69 -0.075 0.875" rpy="0.0 0.0 0.0"/>
        <parent link="booksink_link"/>
        <child link="base_link"/>
    </joint>

    <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />
    <xacro:robotiq_ft300 prefix="" parent="tool0">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_ft300>

    

    <xacro:include filename="$(find camera_holder)/urdf/camera_holder.urdf" /> 
    <joint name="camera_holder_joint" type="fixed">
        <parent link="wrist_3_link"/>
        <child link="camera_holder_link"/>
        <origin xyz="-0.0395 0 -0.03" rpy="1.5708 0 1.5708"/>
      </joint>

      <xacro:arg name="use_nominal_extrinsics" default="false" />
      <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
  
      <xacro:sensor_d435i parent="camera_holder_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
      <origin xyz="-0.11 0.026 0.04" rpy="-1.5708 0 1.5708"/>
      </xacro:sensor_d435i>
       
   
    <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model.xacro" /> 
      <joint name="ft_gripper_joint" type="fixed">
        <parent link="robotiq_ft_frame_id"/>
        <child link="robotiq_arg2f_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>
      
    <!-- <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo> -->

</robot>
