<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="myur5">
    <link name="world"/>
    <link name="table">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="20"/>
            <inertia ixx="200" ixy="200" ixz="200" iyy="200" iyz="200" izz="200"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
            <material name="Gray">
                <color rgba="0.5 0.5 0.5 0.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.2 0.2 0.2"/>
            </geometry>
        </collision>
    </link>    
    <gazebo reference="table">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Orange</material>
    </gazebo>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="table"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <xacro:include filename="$(find ur_description)/urdf/inc/ur_common.xacro" />

    <xacro:include filename="$(find ur_description)/urdf/ur5.xacro"/>

    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
        <parent link="table"/>
        <child link="base_link"/>
    </joint>
    
    <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model.xacro" /> 
    <joint name="end_effector_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="wrist_3_link"/>
        <child link="robotiq_arg2f_base_link"/>
    </joint>

</robot>
